*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
docx-examples/test.xlsx
docx-examples/test.zip
docx-examples/test/[Content_Types].xml
docx-examples/test/_rels/.rels
docx-examples/test/docProps/app.xml
docx-examples/test/docProps/core.xml
docx-examples/test/docProps/custom.xml
docx-examples/test/xl/_rels/workbook.xml.rels
docx-examples/test/xl/calcChain.xml
docx-examples/test/xl/comments1.xml
docx-examples/test/xl/comments2.xml
docx-examples/test/xl/drawings/vmlDrawing1.vml
docx-examples/test/xl/drawings/vmlDrawing2.vml
docx-examples/test/xl/media/image1.jpeg
docx-examples/test/xl/sharedStrings.xml
docx-examples/test/xl/styles.xml
docx-examples/test/xl/tables/table1.xml
docx-examples/test/xl/tables/table2.xml
docx-examples/test/xl/theme/_rels/theme1.xml.rels
docx-examples/test/xl/theme/theme1.xml
docx-examples/test/xl/workbook.xml
docx-examples/test/xl/worksheets/_rels/sheet1.xml.rels
docx-examples/test/xl/worksheets/_rels/sheet2.xml.rels
docx-examples/test/xl/worksheets/sheet1.xml
docx-examples/test/xl/worksheets/sheet2.xml
docx-examples/test/[Content_Types].xml
docx-examples/test/[Content_Types].xml
docx-examples/dest.docx
docx-examples/test/[Content_Types].xml