*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
docx-examples/test.xlsx
docx-examples/test.zip
docx-examples/test/[Content_Types].xml
docx-examples/test/_rels/.rels
docx-examples/test/docProps/app.xml
docx-examples/test/docProps/core.xml
docx-examples/test/docProps/custom.xml
docx-examples/test/xl/_rels/workbook.xml.rels
docx-examples/test/xl/calcChain.xml
docx-examples/test/xl/comments1.xml
docx-examples/test/xl/comments2.xml
docx-examples/test/xl/drawings/vmlDrawing1.vml
docx-examples/test/xl/drawings/vmlDrawing2.vml
docx-examples/test/xl/media/image1.jpeg
docx-examples/test/xl/sharedStrings.xml
docx-examples/test/xl/styles.xml
docx-examples/test/xl/tables/table1.xml
docx-examples/test/xl/tables/table2.xml
docx-examples/test/xl/theme/_rels/theme1.xml.rels
docx-examples/test/xl/theme/theme1.xml
docx-examples/test/xl/workbook.xml
docx-examples/test/xl/worksheets/_rels/sheet1.xml.rels
docx-examples/test/xl/worksheets/_rels/sheet2.xml.rels
docx-examples/test/xl/worksheets/sheet1.xml
docx-examples/test/xl/worksheets/sheet2.xml
docx-examples/test/[Content_Types].xml
docx-examples/test/[Content_Types].xml
docx-examples/dest.docx
docx-examples/test/[Content_Types].xml
docx-examples/dest副本.zip
docx-examples/dest副本/[Content_Types].xml
docx-examples/dest副本/_rels/.rels
docx-examples/dest副本/docProps/app.xml
docx-examples/dest副本/docProps/core.xml
docx-examples/dest副本/docProps/thumbnail.jpeg
docx-examples/dest副本/word/_rels/document.xml.rels
docx-examples/dest副本/word/_rels/settings.xml.rels
docx-examples/dest副本/word/charts/_rels/chart1.xml.rels
docx-examples/dest副本/word/charts/chart1.xml
docx-examples/dest副本/word/diagrams/colors1.xml
docx-examples/dest副本/word/diagrams/data1.xml
docx-examples/dest副本/word/diagrams/drawing1.xml
docx-examples/dest副本/word/diagrams/layout1.xml
docx-examples/dest副本/word/diagrams/quickStyle1.xml
docx-examples/dest副本/word/document.xml
docx-examples/dest副本/word/embeddings/Microsoft_Excel____1.xlsx
docx-examples/dest副本/word/endnotes.xml
docx-examples/dest副本/word/fontTable.xml
docx-examples/dest副本/word/footer1.xml
docx-examples/dest副本/word/footnotes.xml
docx-examples/dest副本/word/glossary/_rels/document.xml.rels
docx-examples/dest副本/word/glossary/document.xml
docx-examples/dest副本/word/glossary/fontTable.xml
docx-examples/dest副本/word/glossary/settings.xml
docx-examples/dest副本/word/glossary/styles.xml
docx-examples/dest副本/word/glossary/stylesWithEffects.xml
docx-examples/dest副本/word/glossary/webSettings.xml
docx-examples/dest副本/word/header1.xml
docx-examples/dest副本/word/header2.xml
docx-examples/dest副本/word/header3.xml
docx-examples/dest副本/word/media/image1.jpeg
docx-examples/dest副本/word/numbering.xml
docx-examples/dest副本/word/settings.xml
docx-examples/dest副本/word/styles.xml
docx-examples/dest副本/word/stylesWithEffects.xml
docx-examples/dest副本/word/theme/theme1.xml
docx-examples/dest副本/word/webSettings.xml
docx-examples/test/[Content_Types].xml